<!DOCTYPE html>
<html>
<head>
    <title>WitSeq</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- load stylesheet -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap3/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/login/login.css" />
</head>
<body>
<div class="container-fluid">
    <form class="form-signin" role="form" onsubmit="return false;">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="email" class="form-control" placeholder="Email address" name="email" id="email" required autofocus>
        <input type="password" class="form-control" placeholder="Password" name="password" id="password" />
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <div class=""><p><a href="/signup">还没有注册？</a></p></div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="login_button">Sign in</button>
    </form>
</div>

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#login_button").on('click',function (e) {
            var url = '/login';
            var email = $('#email').val();
            var password = $("#password").val();
            var data = {email: email, password: password};
            $.post(url, data, function (data) {
                if(data) {
                    window.location.href = data.url;
                }else{
                    alert(data);
                }
            });
        })
    })
</script>
</body>
</html>

