<!DOCTYPE html>
<html>
<head>
    <title>WitSeq</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- load stylesheet -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap3/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/login/login.css" />
</head>
<body>
<div class="container-fluid">
    <form class="form-signin" role="form" action="/admin" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="email" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript">

</script>
</body>
</html>

