<section id="index-main-login">
    <input type="email" class="form-control" placeholder="邮箱账号" name="email" id="email" required autofocus>
    <input type="password" class="form-control" placeholder="密码" name="password" id="password" />
    <button class="btn btn-lg btn-primary btn-block" type="submit" id="login_button">登录</button>
</section>


