<section class="index-main-tab" id="login">
    <input type="email" class="form-control" placeholder="邮箱账号" name="email" id="email" required autofocus>
    <input type="password" class="form-control" placeholder="密码" name="password" id="password" />
    <button class="btn btn-lg btn-primary btn-block index-main-btn" type="submit" id="login-btn">登录</button>
    <section class="">
        <!--ToDo -->
        <button type="button" class="login-switch-button">手机验证吗登陆</button>
        <span class="unable-login"><a href="#">无法登陆？</a></span>
    </section>
</section>


