<section class="index-main-tab" id="signup">
    <input type="text" class="form-control" placeholder="姓名" id="username" required autofocus>
    <input type="email" class="form-control" placeholder="邮箱" id="email" >
    <input type="password" class="form-control" placeholder="密码(不少于6位)" id="password">
    <button class="btn btn-lg btn-primary btn-block index-main-btn" type="submit" id="signup_btn">注册云舟生信</button>
    <p class="index-main-contract">点击「注册」按钮，即代表你同意<a href="#">《云舟生信协议》</a></p>
</section>
