<section class="index-main-tab" id="signup">
    <div class="signup_x_name input-wrapper">
        <input type="text" class="form-control" placeholder="姓名" id="signup-username" required autofocus/>
        <label class="error is-visible"></label>
    </div>
    <div class="signup_x_email input-wrapper">
        <input type="email" class="form-control" placeholder="邮箱" id="signup-email" required/>
        <label class="error is-visible"></label>
    </div>
    <div class="signup_x_password input-wrapper">
        <input type="password" class="form-control" placeholder="密码(不少于6位)" id="signup-password" required/>
        <label class="error is-visible"></label>
    </div>
    <button class="btn btn-lg btn-primary btn-block index-main-btn" type="submit" id="signup-btn">注册云舟生信</button>
    <p class="index-main-contract">点击「注册」按钮，即代表你同意<a href="#">《云舟生信协议》</a></p>
</section>
