<div class="modal fade disease-add-modal" id="disease_add_modal" tabindex="-1" role="dialog" aria-labelledby="diseaseaddmodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>从本地磁盘上传文件</h3>
            </div>
            <div class="modal-body">
                <div class="file-drag-area">
                    <form onclick="">
                        疾病类型：
                        <input type="text" name="diseasetype" id="diseasetype"/></br>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default disease-add-type-btn">添加</button>
                <button type="button" class="btn btn-default disease-type-cancel-btn" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>