<div class="modal fade disease-add-modal" id="disease_add_modal" tabindex="-1" role="dialog" aria-labelledby="diseaseaddmodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>从本地磁盘上传文件</h3>
            </div>
            <div class="modal-body">
                <div class="file-drag-area">
                    <span class="warning">请将文件拖拽到此区域</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default localfile-upload-btn">从本地上传</button>
                <button type="button" class="btn btn-default file-upload-cancel-btn" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>