<html>
<head>
    <title>WitSeq</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/email-confirm/email-confirm.css" />
</head>
<body>
<section class="backgroudg-img">
    <img src="/images/0edd0069410df4380ba2f7b8b4a16987.jpg" alt="0edd0069410df4380ba2f7b8b4a16987.jpg" width="100%" height="50%">
</section>
<section class="email-confirm-content">
    <h2>恭喜邮箱注册成功</h2>
    <p>赶快去登陆你的账号吧</p>
</section>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>